<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Rate my Game</title>
        {% else %}
        <title>Rate my Game</title>
        {% endif %}
    </head>
    <body>
        <div>
            Rate my Game:
            <a href="{{ url_for('Uebersicht')}}">Dashboard</a>
            <a href="{{ url_for('logout')}}">Logout</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>